.recoveryPage {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
}


.formWrapper {
    padding: 47px 30px;
    text-align: center;
}

.pageName {
    color: #dc4734;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 47px;
}

.inner {
    max-width: 572px;
    margin: auto;
    text-align: center;
    -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25);
}

.title {
    width: 100%;

    padding: 23px 0;
    margin-bottom: 0;
    margin-top: 0;

    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background-color: #dc4734;
}

.recoveryForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 42px 100px 50px;
    background-color: #fff;
    position: relative;
}

.statusMessage {
    font-size: 16px;

    padding-top: 28px;
    margin-bottom: 14px;

    font-weight: bold;
    text-align: center;
    color: #dc4734;
}

.fieldBlock {
    display: flex;
    -ms-flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}

.input {
    text-align: center;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #999;
    padding: 5px 10px;
    font-size: 17px;
}

.btn {
    display: block;
    width: 100%;

    margin-top: 23px;
    padding: 15px 20px;

    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    border: 1px solid transparent;
    background-color: #dc4734;
    outline: none;
    box-shadow: none;
    transition: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #333333;
}

.btn:disabled {
    opacity: 0.1;
    background: #535b5f;
}

.loginLink {
    padding-top: 28px;
    margin-bottom: 0;

    font-size: 16px;
    font-weight: bold;
    color: #dc4734;
}


