
.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    position: relative;
    outline: 0;
    border: 0;
    background: #f44336;
    color: white;
    padding: 10px 20px;
    margin: 3px;
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 3px;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover::before {
    opacity: 0.08;
}

.btn:focus::before {
    opacity: 0.24;
}

.btn:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.btn:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.btn:disabled {
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
    cursor: initial;
}

.btn:disabled::before {
    opacity: 0;
}

.btn:disabled::after {
    opacity: 0;
}

.notification {
    bottom: 20px;
    margin: 0 auto;
    position: absolute;
    background: #333;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 0 25px rgba(33, 33, 33, 0.5);
    border-radius: 3px;
    box-sizing: border-box;
    animation: 0.3s down ease 1;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0px);

}

.notification.active {
    opacity: 1;
    animation: 0.3s up ease 1;
    display: block;
}

.notification.notActive {
    display: none;
}

.notification a {
    color: skyblue;
    text-decoration: none;
    display: block;
    float: right;
    width: auto;
    padding: 0 10px;
    height: 40px;
    margin-left: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.text {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    float: left;
}

.close {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    float: right;
    background: rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

.close .text {
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.text:hover {
    background: rgba(255, 255, 255, 0.1);
}


@keyframes rip {
    0% {
        width: 5px;
        height: 5px;
    }
    75% {
        transform: scale(4);
    }
}

@keyframes up {
    0% {
        display: none;
        top: 100%;
        opacity: 0;
    }
    75% {
        top: 90%;
        opacity: 1;
    }
    100% {
        display: block;
    }
}

@keyframes down {
    0% {
        top: 90%;
        opacity: 1;
        display: block;
    }
    75% {
        top: 150%;
        opacity: 0;
    }
    100% {
        display: block;
    }
}

@keyframes sup {
    0% {
        display: none;
        top: 100%;
        transform: translateY(0%);
        opacity: 0;
    }
    75% {
        top: 100%;
        transform: translateY(-100%);
        opacity: 1;
    }
    100% {
        display: block;
    }
}

@keyframes sdown {
    0% {
        top: 100%;
        opacity: 1;
        display: block;
        transform: translateY(-100%);
    }
    75% {
        top: 150%;
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        display: block;
    }
}

@media only screen and (max-width: 560px) {
    .notification, .notification.active {
        width: 100%;
        top: 100%;
        transform: translateY(-100%);
        left: 0;
        border-radius: 0;
        animation: 0.3s sdown ease 1;
    }

    .notification.active {
        animation: 0.3s sup ease 1;
    }
}